/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #28bac2;
  --error: #e7195a;
}
body {
  background: #f1f1f151;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  background-color: var(--primary);
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.AddCourse {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 100px;
}
.subtitle {
display: flex;
}
.subtitle .course-details{
  position: relative;
  width: 80%;
  margin-left: 10px;
}
.course-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.course-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
  cursor: pointer;
}
.course-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.course-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.course-details .create-course-quiz{
  background: var(--primary);
  border: 0;
  color: #fff;
  width: 20%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 4px;
  margin-left: 80%;
  font-family: "Poppins";
  border-radius: 8px;
  cursor: pointer;
  position:relative;

}

.head-text{
  position: relative;
color: #3c4144;
font-size:1cm;
font-family:serif;
font-weight: 3000;
}
.head-date{
  position: relative;
  color: #3c4144;
  font-size:0.7cm;
  font-family:serif;
  font-weight: 3000;
}
.center__date{
  position: absolute;
  right: 62%;
  top: 500%;
  transform: translate(-50%,-200%);
}
.center__text{
  position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.FilterForm {
  border-radius: 2px;
  padding: 20px;
  position: relative;
}
.filter-detail {
  border-radius: 4px;
  position: top;
}
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  width: 40%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 4px;
  margin-left: 18px;
  font-family: "Poppins";
  border-radius: 8px;
  cursor: pointer;
}

form select{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.filter h1{
  background: var(--primary);
  color: #fff;
  width: 100%;
  padding: 8px;
  font-family: "Poppins";
  border-radius: 8px;
  text-align: center;
}
.Rate{
  max-width: 200px;
  margin: 100px 100px;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
.Rate h1{
  background: var(--primary);
  color: #fff;
  width: 100%;
  padding: 5px;
  font-family: "Poppins";
  border-radius: 8px;
  text-align: center;
}
.Rate label{
  display: block;
}
.Rate button{
margin-left: 110px;
}
.signup{
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
.signup h1{
  background: var(--primary);
  color: #fff;
  width: 100%;
  padding: 5px;
  font-family: "Poppins";
  border-radius: 8px;
  text-align: center;
}
.signup label{
  display: block;
}
.signup button{
margin-left: 110px;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
nav {
  display: flex;
  align-items: center;
}
nav a, nav button {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}
.inputnotes{
  width: 10cm;
  height: 630px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  max-lines: none;
  margin-bottom: 4mm;
}
.buttonnotes{
  position: absolute;
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  align-items: center;
  top: 93%;
  left: 6%;
}
.Subtitle_Name{
  position: relative;
  background: #fff;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding-left: 4mm;
  padding-top: 3mm;
  padding-bottom: 2mm;
  text-align: center;
  font-family: "Poppins";
  font-size: 1.01em;
}
.youtubedisplay {
  margin-top: 2mm;
  display: grid;
  grid-template-columns: 11cm 8cm;
}
.Support_Button{
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}
.change_password{
  width: 11.5cm;
  height: 2cm;
}
.short_description{
  background: #fff;
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding-left: 4mm;
  padding-top: 3mm;
  padding-bottom: 2mm;
  margin-top: 1.5mm;
  font-family: "Poppins";
  width: 25.5cm;
  font-size: 1.01em;
}
input[type="checkbox"]
{
    vertical-align:middle;
}
/* popup */
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms;
 
 
  z-index:999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding-left: 3cm;
  padding-bottom: 2cm;
  padding-top: 2cm;
  padding-right: 6cm;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
}


.popup-inner .close-btn{
  position: absolute;
  right: 62%;
  bottom: 8%;
}

.buy-course{
  background-color: #28bac2;
  position: absolute;
  right: 20px;
  top: 65%;
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  color: white;
}
.h1-price{
  font-size: 6mm;
}
.yes-course{
  background-color: #28bac2;
  position: absolute;
  right: 32%;
  bottom: 8%;
  width: 25mm;
}
.course-title-single{
  background: #fff;
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding-left: 4mm;
  padding-right: 4mm;
  position: relative;
  padding-top: 3mm;
  left: 40%;
  padding-bottom: 2mm;
  margin-top: 1.5mm;
  width: fit-content;
  font-family: "Poppins";
}
.single-course-details{
  position: relative;
  left: 20%;
}
.subtitles-single-course{
  position: relative;
  left: 20%;
}
.subtitle-single-course{
  position: relative;
  left: 9%;
  border: 1px solid var(--primary);
  border-radius: 10px;
  margin: 0.5mm;
  padding-left: 1mm;
  padding-right: 1mm;
  width: fit-content;
}
.join-course{
  position: relative;
  left: 106%;
  background-color: var(--primary);
  color: white;
  border: 2px solid var(--primary);
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}
.join-course:hover{
  background-color:rgb(255, 255, 255);
  color: #28bac2;
  position: relative;
  left: 106%;
  border: 1px solid var(--primary);
  border-radius: 30px;
  cursor: pointer;
  font-size: larger;
  width: 30mm;
}
.success {
  color: #270;
  background-color: #DFF2BF;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.report-problem{
  background-color: #919595;
  position: relative;
  width: 70px;
  font-weight: bolder;
  font-style: italic;
  height: auto;
  border-style:solid;
  top: 4%;
  margin-left: 92%;
  border: none;
}

.report-problem:hover{

  background-color: #28bac2;
}


.unresolved{

  color: rgb(249, 184, 34);
}

.resolved{

  color: green;
}

.menu-flags{
  background-color: #28bac2;
}
.resolve_button{
  background: var(--primary);
  border: 0;
  color: #fff;
  width: 13%;
  padding: 10px;
  margin-top: -7%;
  margin-right: 4px;
  margin-left: 40%;
  font-family: "Poppins";
  border-radius: 8px;
  cursor: pointer;
  position: absolute;

}.seen_button{
  background: var(--primary);
  border: 0;
  color: #fff;
  width: 13%;
  padding: 10px;
  margin-right: 4px;
  margin-left: 60%;
  font-family: "Poppins";
  border-radius: 8px;
  cursor: pointer;
  position: absolute;

}



